*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.training-section{
    width: 100%;
    background: url("background.jpg") center;
    background-size: cover;
    padding-bottom: 50px;
}
.training-section h1{
    text-align: center;
    padding: 25px 0px;
}
.container{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.training-items{
    flex-basis: 23%;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px 3px lightgrey;
    background-color: #fff;
    text-align: center;
    padding: 20px 0px;
}
.training-items h3{
    padding: 10px 0px;
}
.training-items p{
    font-size: 14px;
    padding: 10px;
}
.training-items button{
    background: blue;
    padding: 10px 25px;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px 0px;
}
.training-items:hover{
    background: blue;
}
.training-items:hover h3, .training-items:hover p{
    color: #fff;
}
.training-items:hover button{
    background: #fff;
    color: blue;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
    .training-items{
        margin: 10px;
    }
}
